### ì§ë°© ì„œë¹„ìŠ¤ ì›ë£¸ ë°ì´í„° ìˆ˜ì§‘
- ë³µì¡í•œ ë°ì´í„° ìˆ˜ì§‘ ë°©ë²•
- ë™ì´ë¦„ > ë§¤ë¬¼ì •ë³´(ë°ì´í„°í”„ë ˆì„)

- ì ˆì°¨
    - ë™ì´ë¦„ > ìœ„ë„, ê²½ë„
    - ìœ„ë„, ê²½ë„ > geohash code(ì§€ì—­ë²”ìœ„)
    - geohash > ë§¤ë¬¼ ì•„ì´ë””
    - ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [5]:
import pandas as pd
import requests

In [1]:
# 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„

In [11]:
query = "ë§ˆí¬êµ¬ í•©ì •ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={query}&serviceType=ì›ë£¸"
response = requests.get(url)
datas = response.json()["items"][0]
lat, lng = datas["lat"], datas["lng"]
lat, lng

(37.549537658691406, 126.90560913085938)

In [2]:
# 2. ìœ„ë„, ê²½ë„ > geohash

In [13]:
# !pip install geohash2

In [14]:
import geohash2

In [17]:
# precision : ì˜ì—­ : ê°’ì´ ì»¤ì§ˆìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
code = geohash2.encode(lat, lng, precision=5)
code

'wydjx'

In [3]:
# 3. geohash > ë§¤ë¬¼ ì•„ì´ë””

In [20]:
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
response = requests.get(url)
response

In [24]:
datas = response.json()["items"]
datas[:3]

[{'lat': 37.52911584984866, 'lng': 126.89761140063823, 'item_id': 30462357},
 {'lat': 37.529618523515886, 'lng': 126.89757894127727, 'item_id': 30524930},
 {'lat': 37.52911607377812, 'lng': 126.89697440047796, 'item_id': 30629925}]

In [25]:
ids = []
for data in datas:
    ids.append(data["item_id"])
ids[:5]

[30462357, 30524930, 30629925, 30681505, 30494154]

In [26]:
# list comprehention
ids = [data["item_id"] for data in datas]
ids[:3]

[30462357, 30524930, 30629925]

In [31]:
# list comprehention : ê°„ë‹¨í•œ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë§Œë“¤ë•Œ
# í™€ìˆ˜ ë°ì´í„°ë§Œ ì œê³±í•´ì„œ ë¦¬ìŠ¤íŠ¸ ë§Œë“¤ì–´ ì¶œë ¥
result = [data**2 for data in range(10) if data % 2]
result

[1, 9, 25, 49, 81]

In [4]:
# 4. ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [33]:
ids[:3]

[30462357, 30524930, 30629925]

In [34]:
url = "https://apis.zigbang.com/v2/items/list"
params = {
    "domain": "zigbang",
    "withCoalition": "true",
    "item_ids": ids,
}
response = requests.post(url, params)
response

In [37]:
items = response.json()["items"]
item_df = pd.DataFrame(items)
item_df.tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
914,None,30455640,https://ic.zigbang.com/ic/items/30455640/1.jpg,ì „ì„¸,ì „ì„¸,28000,0,33.58,"{'m2': 33.58, 'p': '10.2'}","{'m2': 23.98, 'p': '7.3'}",...,False,True,ë¹Œë¼,[ì¶”ì²œ],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™,None,None,3,2022-02-03T12:00:40+09:00,False
915,None,30687168,https://ic.zigbang.com/ic/items/30687168/1.jpg,ì›”ì„¸,ì›”ì„¸,5000,60,41.36,"{'m2': 41.36, 'p': '12.5'}","{'m2': 36.36, 'p': '11'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™,None,None,8,2022-02-18T14:00:36+09:00,False

In [40]:
pd.options.display.max_columns = 30

In [42]:
pd.options.display.max_rows

60

In [45]:
columns = [
    'item_id', 'sales_title', 'deposit', 'rent', 'size_m2',
    'floor', 'building_floor', 'title', 'room_type', 'address', 
    'service_type', 'address1', 'manage_cost', 'reg_date', 'is_new',
]

In [47]:
query

'ë§ˆí¬êµ¬ í•©ì •ë™'

In [52]:
result_df = item_df[columns]
result_df = result_df[result_df["address"].str.contains(query)]
result_df = result_df.reset_index(drop=True)
result_df.tail(1)

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,service_type,address1,manage_cost,reg_date,is_new
90,30723130,ì „ì„¸,33000,0,50.0,4,5,â– í•©ì •ì—­/ë§ì›ì—­ì„¸ê¶Œâ– êµ¬ì¡°ì¢‹ê³ ë„“ì€2ë£¸â– ë„“ì€í…Œë¼ìŠ¤â– ë² ë€ë‹¤,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-21T10:27:19+09:00,True

In [55]:
# ë³´ì¦ê¸ˆ 1ì–µ ì´í•˜, ì›”ì„¸ 100ë§Œì› ì´í•˜
# result_df[(result_df["deposit"] <= 10000) & (result_df["rent"] <= 100)]

In [56]:
def oneroom(address):
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸"
    response = requests.get(url)
    datas = response.json()["items"][0]
    lat, lng = datas["lat"], datas["lng"]
    code = geohash2.encode(lat, lng, precision=5)
    
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    datas = response.json()["items"]
    ids = [data["item_id"] for data in datas]
    
    url = "https://apis.zigbang.com/v2/items/list"
    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": ids,
    }
    response = requests.post(url, params)
    items = response.json()["items"]
    item_df = pd.DataFrame(items)
    
    columns = [
        'item_id', 'sales_title', 'deposit', 'rent', 'size_m2',
        'floor', 'building_floor', 'title', 'room_type', 'address', 
        'service_type', 'address1', 'manage_cost', 'reg_date', 'is_new',
    ]
    
    result_df = item_df[columns]
    result_df = result_df[result_df["address"].str.contains(address)]
    return result_df.reset_index(drop=True)

In [57]:
oneroom("ë§ì›ë™")

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,service_type,address1,manage_cost,reg_date,is_new
0,30483493,ì „ì„¸,23000,0,18.99,6,6,"ğŸ¦‹í•©ì •ì—­,ì‹ ì¶•1.5ë£¸ê°€ì„±ë¹„ì§±,í•œê°•ê³µì›ë„ë³´,ë³´ì¦ë³´í—˜OK",02,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-04T15:40:23+09:00,False
1,30608827,ì „ì„¸,23000,0,42.98,6,6,ë°©1ê°œ ë³„ë„ê±°ì‹¤ ì£¼ë°© í™”ì¥ì‹¤ ë‹¤ìš©ë„ì‹¤ ë¶„ë¦¬í˜•ì›ë£¸ ì…ë‹ˆë‹¤,04,ë§ˆí¬êµ¬ ë§ì›ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,7,2022-02-12T16:27:27+09:00,False
2,30578522,ì›”ì„¸,12000,10,12.21,3,5,ğŸ’¥LH ê°€ëŠ¥ ê¹¨ë—í•œ ë°©ğŸ’¥,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-15T18:54:14+09:00,False
3,30726074,ì›”ì„¸,12000,10,13.22,3,5,ğŸ¶ [LH ê°€ëŠ¥!] ğŸ¶ [ê¹”ë”í•œ ë°©!],01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-21T11:45:06+09:00,True
4,30340227,ì›”ì„¸,1000,49,23.14,3,5,â­•ë§ì›ì—­ì„¸ê¶Œ 7í‰ì›ë£¸ ë‚´ë¶€ê¹”ë”â­•,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,2022-01-22T14:38:50+09:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,30573911,ì „ì„¸,37000,0,36.17,2,6,ë§ˆí¬êµ¬ì²­ì—­ 3ë¶„.ì „ì„¸ëŒ€ì¶œê°€ëŠ¥.ë¬´ìœµì.ì‹ ì¶•ê¸‰ ì»¨ë””ì…˜ íˆ¬ë£¸~!,04,ë§ˆí¬êµ¬ ë§ì›ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,4.3,2022-02-10T13:55:31+09:00,False
90,30606067,ì „ì„¸,37000,0,39.67,2,6,ğŸŒ· ëŒ€ì¶œê°€ëŠ¥! íˆ¬ë£¸! ê¹”ë”í•œ ì¸í…Œë¦¬ì–´! 6í˜¸ì„ ! ğŸŒ·,04,ë§ˆí¬êµ¬ ë§ì›ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-16T18:36:13+09:00,False
91,30713445,ì›”ì„¸,5000,30,19.83,3,4,ğŸ¢ë§ˆí¬êµ¬ì²­ì—­5ë¶„ ì‹ ì¶•3ë…„ì°¨ğŸ¢,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-21T13:46:30+09:00,True
92,30594723,ì›”ì„¸,200,55,16.53,1,3,ğŸ’–1.5ì¸µ ë‹¨ê¸°ë°©! ë§ˆí¬êµ¬ì²­ì—­ 3ë¶„!ğŸ’–,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-14T09:49:15+09:00,False
93,30684919,ì›”ì„¸,200,60,19.83,2,3,âœ”ë§ˆí¬êµ¬ì²­ì—­ ë„ë³´4ë¶„. ì‹ ì¶•ê¸‰ ì›ë£¸ ì›”ì„¸,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-17T18:11:46+09:00,False