In [1]:
import requests
import pandas as pd

### headers : daum exchange rate : 환율 데이터 수집

In [2]:
# 1. 웹서비스 분석 : URL

In [5]:
url = "https://finance.daum.net/api/exchanges/summaries"

In [3]:
# 2. request(url) > response(data) : data(json(str))

In [9]:
headers = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36",
    "referer": "https://finance.daum.net/exchanges",
}
response = requests.get(url, headers=headers)
response

In [4]:
# 3. data(json(str)) > dict, list > df

In [15]:
datas = response.json()["data"]
df = pd.DataFrame(datas)[["symbolCode", "date", "currencyCode", "basePrice"]]
df.head(2)

   symbolCode                 date currencyCode  basePrice
0  FRX.KRWUSD  2022-02-21 16:54:49          USD    1192.00
1  FRX.KRWJPY  2022-02-21 16:54:48          JPY    1036.93

In [16]:
# summary

In [17]:
# web : client-server : url
# python : requests : request > response
# 동적페이지 : URL의 변화 없이 페이지의 데이터를 변환 : json
# 정적페이지 : URL을 변환해서 새로운 데이터를 출력 : html

# 동적 페이지에서 데이터 수집 절차
# 1. 웹서비스분석(개발자도구) : URL
# 2. request(url, params, headers) > response(data) : data(json(str))
# 3. data(json(str)) > list, dict > DataFrame

# API를 이용한 데이터 수집
# 1. 어플리케이션 등록 : app_key
# 2. api 문서 확인 : url, params, headers
# 3. request(url, params, headers(app_key)) > response(data) : data(json(str))
# 4. data(json(str)) > list, dict > DataFrame

In [18]:
# naver : index price, exchange rate
# kakao api : translate
# zigbang : requests 3번, geohash
# daum exchange rate : headers(user-agent, referer)